<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRpage</title>
    <Style>
        h1{
            font-size: 60px;
        }
        label{
            font-size: 20px;

        }
    </Style>
</head>
<body >
    <center>
        <h1>QR page</h1>
        <form action="{{ url_for('generater') }}" method="post" autocomplete="off">
            <label for="Qrtext">Enter text or URL:</label>
            <br>
            <input type="text" name="Qrtext" required>
            <br>
            <input type="submit" value="Create">
        </form>
        
    </center>    
</body>
</html>